extends layout

block content
  .container.mt-5.text-center
    h1.text-warning Página no encontrada (404)
    p El recurso solicitado no existe.
    a.btn.btn-primary.mt-3(href="/") Regresar al inicio
